# Defining the exact version will make sure things don't break
sphinx==5.0.2
nbsphinx==0.8.9
sphinx_rtd_theme==1.0.0
readthedocs-sphinx-search==0.1.1
matplotlib==3.5.2
ipykernel==6.15.1
sphinx_gallery==0.11.0
# add the project dependencies here to make 
# autodoc work
numpy==1.23.1
pandas
pyyaml
fire
requests
breathe==4.34.0
# comment some out which i believe are not required for creating the docs
# openpyxl
# xlrd
# cython==3.0.0a11
# pytest
